{% load static %}
<!-- carrega a pasta / localização dos arquivos estáticos -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block head_title %}{% endblock %}</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'images/favicon.ico' %}"
    />
    {% block css %}
    <!-- bloco de CSS -->
    {% endblock %}
  </head>
  <body>
    {% block header %}
    <!-- bloco de cabeçalho -->
    {% endblock %} {% block main %}
    <!-- bloco principal do body -->
    {% block content %}
    <!-- bloco de conteúdo -->
    {% endblock %} {% endblock %} {% block footer %}
    <!-- bloco de rodapé -->
    {% endblock %} {% block javascript %}
    <!-- bloco extra abaixo do body -->
    {% endblock %}
  </body>
</html>
