{% extends '_layout1.html' %}
<!-- herda tudo que já tem em _layout1.html -->
{% block content %}
<!-- substitui o bloco content em _layout1.html -->
<article>
  <h1>{{ post.pub_date|date:"d / m / Y" }}</h1>
  {% if post.categoria %}
  <span>Categoria: {{ post.categoria }}</span>
  {% endif %}
  <p>{{ post.body_text }}</p>
</article>
<div class="card-body">
  <form action="{% url 'post_send' post_id=post.id %}" method="post">
    <label for="email">Compartilhar</label>
    <input
      type="text"
      id="email"
      name="email"
      placeholder="Informe o e-mail"
      value=""
    />
    <button type="submit" class="btn btn-warning">Enviar</button>
  </form>
</div>
{% endblock %}
<!-- fecha o bloco content -->