{% extends '_layout1.html' %} {% block content%}
<div class="card">
  <div class="card-header">
    <h5 class="card-title">Excluindo o Post Nº {{ object.id }}</h5>
  </div>
  <div class="card-body">
    <form method="post">
      {% csrf_token %}
      <h6>Você tem certeza que deseja excluir a postagem abaixo ?</h6>
      <br />
      <p>"{{ object.body_text }}"</p>
      <br />
      <button type="submit" class="btn btn-danger">Confirmar</button>
      <a href="{% url 'posts_all' %}" class="link-secondary">Cancelar </a>
    </form>
  </div>
</div>
{% endblock %}
